body {
  font-family: 'Source Sans Pro', sans-serif;

}
p {
  color: white;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
  line-height: 1.5em;
  font-size: 1.4em;
}


.tagline {
  width: 600px;
  margin-bottom: 15px;
}

h1 {
  color: white;
  font-weight: 200;
  font-size: 5em;
  margin-top: 0;
}

h6 {
  color: white;
  font-weight: 200;
  font-size: 2em;
  margin-top: 0;
}

h2 {
  color: white;
  font-weight: 200;
  font-size: 3em;
  margin: 20px 0;
}

h3 {
  color: white;
  font-weight: 400;
  margin: 10px 0;
}

body {
  margin: 0;
  margin-bottom: 0;
}

#header {
  background-color: #8fd1e8;
}

#header img {
  border-radius: 30px;
}

#team {
  background-color: #585858;
}

#idea {
  /*background-image: url(http://d.pr/i/hKC7+); */
  background-color: #76a92e;
}

#proto {
  background-color: #ffdd17;
}

#bus {
  background-color: #8c779a;
}
#bus tagline {
  font-size: 1.6em;
}
#coffee {
  background-color: #0d5735;
}

#design {
  background-color: #858585
}

#canvas {
  /* background-image: url(http://d.pr/i/oTUM+); */
  background-color: #3dccff;
  padding: 80px;
}

#universal {
  /* background-image: url(http://d.pr/i/eWFX+); */
  padding: 80px;
  background-color: #000000;
}

#drawings {
  background-color: #2f2f2f
}
#drawings .caption{
  font-size: 12pt;
}

.notop {
  margin-top: 0; 
}

.nobot{
  margin-bottom: 0;
}



.center-list {
  display: table;
  margin: 0 auto;
}


ul li{
  list-style: none;
  float: left;
  display: inline-block;
  padding: 25px 30px;
}

ul {
  overflow: hidden;
  list-style: none;
  clear: both;
  padding: 0;
}

#team ul li img{
  -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
          border-radius: 100px;
  margin-top: 40px;
  border: 3px solid rgb(255, 255, 255);
  width: 150px;

}

#design img{
  width: 200px;
  margin-bottom: 40px;
  margin-top: 40px;
  margin: 0 auto;
}

#drawings img {
  width: 200px;
  margin-bottom: 40px;
  margin-top: 40px;
  margin: 0 auto;
}

#drawings ul{
  width: 900px;
  margin-bottom: 40px;
  margin-top: 40px;
}

.mockup ul{
  width: 900px;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-left: 100px;
}


.button{
  background-color: rgb(200, 0, 0);
  font-weight: 400;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-decoration: none;
  color: white;
  line-height: 50px;
  -webkit-transition: background-color .2s ease-in;
  -moz-transition: background-color .2s ease-in;
  -ms-transition: background-color .2s ease-in;
  -o-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in; 
}

.button:hover {
  background-color: #2f627f;
  
}

.feed:hover {
  background-color: #7d2020;
  
}


.hero{
  
    text-align: center;
  overflow: hidden;
  width: 200px;
}

.box {
  padding: 40px;
  text-align: center;
  overflow: hidden;
}

#ribbon {
  width: 100px;
  position: fixed;
  top: 0;
  right: 2%;
}

#powered{
  background-color: #222;
}

.logo {
  width: 100px;
}

.feed {
    background-color: #3f8ab1;

  
}
